* ::before, ::after{
   margin: 0;
   padding: 0;
}

html{
   height: 100%;
   width: 100%;
   font-size: 62.5%;
   color: rgb(151, 105, 45);
   /* background: #bebeb3; */
}

h1{
   text-align: center;
   text-shadow: 2px 3px 4px olive;
}

.div_wrapper{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   width: 40%;
   margin: auto;
   padding: 5px;
}

.div_wrapper div{
   height: 70px;
   width: 70px;
   background: #ed2765;
   border: 2px solid white;
}